In [7]:
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [8]:
for num in range(10,20):
    print(num)

10
11
12
13
14
15
16
17
18
19

In [11]:
mylist=[10, 20, 14, 55, 43, 87, 76]
print(mylist)
print("Number of item in the List2:")
print(len(mylist))

[10, 20, 14, 55, 43, 87, 76]
Number of item in the List2:
7

In [19]:
print("Artificial Intelligence")
for name in "Artificial Intelligence":
    print (name)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [21]:
print ("-Your Name- ")
print ("-Your Age- ")
print ("-Your Profession-")

-Your Name-
-Your Age-
-Your Profession-

In [22]:
Tuple=(1, 'Welcome', 2, 'Hope')
print(Tuple)

(1, 'Welcome', 2, 'Hope')

In [25]:
Tuple1 = (0, 1, 2, 3) 
Tuple2 = ('python', 'HOPE')
print((Tuple1,Tuple2))

((0, 1, 2, 3), ('python', 'HOPE'))

In [54]:
number=(20,10,16,19,25,1,276,188)
print(number)
for num in number:
    if num%2==1:
     print(num ,"is odd")

(20, 10, 16, 19, 25, 1, 276, 188)
19 is odd
25 is odd
1 is odd

In [55]:
number=(20,10,16,19,25,1,276,188)
print(number)
for num in number:
    if num%2==0:
     print(num ,"is Even")

(20, 10, 16, 19, 25, 1, 276, 188)
20 is Even
10 is Even
16 is Even
276 is Even
188 is Even